<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
  </ng-template>
</p-toolbar>      
<p-table [value]="rooms" [(selection)]="selectedRoom" dataKey="id" [paginator]="true" [rows]="10" class="room-table">
  <ng-template pTemplate="header">
    <tr>
      <th>Room Number</th>
      <th>Type</th>
      <th>Price</th>
      <th>Status</th>
      <th>Description</th>
      <th>Images</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-room>
    <tr>
      <td>{{ room.numeroChambre }}</td>
      <td>{{ room.type }}</td>
      <td>{{ room.prix | currency }}</td>
      <td>{{ room.etat }}</td>
      <td>{{ room.description }}</td>
      <td>
        <div class="room-images">
          <img *ngFor="let photo of room.photos" [src]="photo" alt="Room Image" class="room-image" />
        </div>
      </td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="editRoom(room)" class="p-button-rounded p-button-info"></button>
        <button pButton icon="pi pi-trash" (click)="deleteRoom(room)" class="p-button-rounded p-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Dialog for Creating/Editing Room -->
<p-dialog [(visible)]="roomDialog" [modal]="true" [closable]="false" header="Room Details">
  <div class="p-fluid">
    <div class="p-field">
      <label for="numeroChambre">Room Number</label>
      <input id="numeroChambre" [(ngModel)]="room.numeroChambre" pInputText />
    </div>
    <div class="p-field">
      <label for="type">Type</label>
      <input id="type" [(ngModel)]="room.type" pInputText />
    </div>
    <div class="p-field">
      <label for="prix">Price</label>
      <input id="prix" [(ngModel)]="room.prix" pInputText type="number" />
    </div>
    <div class="p-field">
      <label for="etat">Status</label>
      <input id="etat" [(ngModel)]="room.etat" pInputText />
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="room.description" pInputTextarea rows="4" cols="30"></textarea>
    </div>
    <div class="p-field">
      <label for="photos">Room Images</label>
      <input type="file" (change)="onFileSelect($event)" pInputText accept="image/*" multiple />
    </div>
  </div>
  <p-footer>
    <button pButton label="Save" (click)="saveRoom()" icon="pi pi-check" class="p-button-success"></button>
    <button pButton label="Cancel" (click)="closeDialog()" icon="pi pi-times" class="p-button-secondary"></button>
  </p-footer>
</p-dialog>
