<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container my-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header bg-dark text-white text-center">
                  <h3>Sign Up</h3>
              </div>
              <div class="card-body">
                  <form [formGroup]="myform2" (ngSubmit)="onSubmit()" method="post" autocomplete="on">
                      <div class="form-group">
                          <label for="firstName" class="fontLabel">First Name</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                              </div>
                              <input type="text" name="firstName" placeholder="First Name" class="form-control" autofocus="on" formControlName="Fname" required>
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['Fname'].touched && myform2.controls['Fname'].hasError('required')">
                              This input is required
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="secondName" class="fontLabel">Last Name</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                              </div>
                              <input type="text" formControlName="Sname" name="secondName" placeholder="Last Name" class="form-control" required>
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['Sname'].touched && myform2.controls['Sname'].hasError('required')">
                              This input is required
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="secondName" class="fontLabel">Date de naissance</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="date" formControlName="DateN" name="DateDeNaissance" placeholder="Date de naissance" class="form-control" required>
                        </div>
                        <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['DateN'].touched && myform2.controls['DateN'].hasError('required')">
                            This input is required
                        </div>
                    </div>

                      <div class="form-group">
                          <label for="phone" class="fontLabel">Phone No.</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-phone-square"></i></span>
                              </div>
                              <input type="text" formControlName="PhoneN" name="phoneNo" placeholder="Phone No." class="form-control" required>
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['PhoneN'].touched && myform2.controls['PhoneN'].hasError('required')">
                              This input is required
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="email" class="fontLabel">Email</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                              </div>
                              <input type="email" formControlName="EmailC" name="email" placeholder="Email" class="form-control" required>
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['EmailC'].touched && myform2.controls['EmailC'].hasError('required')">
                              This input is required
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['EmailC'].hasError('email')">
                              Must be a valid email address
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="password" class="fontLabel">Password</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                              </div>
                              <input type="password" formControlName="PassR" name="password" placeholder="Password" class="form-control" required>
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['PassR'].touched && myform2.controls['PassR'].hasError('required')">
                              This input is required
                          </div>
                          <div class="alert alert-danger alert-sm" *ngIf="myform2.controls['PassR'].hasError('minlength')">
                              Password must be at least 8 characters long
                          </div>
                      </div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block" [disabled]="myform2.invalid">
                              Register
                          </button>
                      </div>
                  </form>
              </div>
              <div class="card-footer text-center">
                  <p>Already have an account? <a href="/login" class="text-primary">Log In</a></p>
              </div>
          </div>
      </div>
  </div>
</div>
